<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("../partials/head.ejs") %>
		<title>404</title>
</head>

<%- include("../partials/header.ejs") %>

<body>
<div class="main-login-register">
	</figure>
	<h1>404</h1>
	<p>Oops! La página que estas buscando no existe.</p>
	<span>Algunos links utiles:</span>
	<div class="benefits">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/productos">Productos</a></li>
			<li><a href="/productos">Ofertas</a></li>
		</ul>
	</div>
</div>
</body>
</html>
